# SocketIO Admin Panel. https://socket.io/docs/v4/admin-ui/
FRONVO_ADMIN_PANEL_USERNAME={str, Optional}
FRONVO_ADMIN_PANEL_PASSWORD={str, Optional}

# Prisma support, used alongside MongoDB. https://pris.ly/d/connection-strings
FRONVO_PRISMA_URL={str, Optional}

# Function performance statistics.
FRONVO_PERFORMANCE_REPORTS={bool, Optional, Default: false}

# Function performance statistics minimum ms.
FRONVO_PERFORMANCE_REPORTS_MIN_MS={int, Optional, Default: -1}

# Email domain blacklisting. https://github.com/disposable-email-domains/disposable-email-domains
FRONVO_EMAIL_BLACKLISTING_ENABLED={bool, Optional, Default: true}

# Fronvo logging.
FRONVO_SILENT_LOGGING={bool, Optional, Default: false}

# Socket.IO binary parser, disable for the Admin Panel to be able to connect. https://github.com/socketio/socket.io-msgpack-parser
FRONVO_BINARY_PARSER={bool, Optional, Default: false}

# Gmail credentials. https://github.com/alykoshin/gmail-send
FRONVO_EMAIL_USERNAME={str, Required}
# Can alternatively be an App Password for 2FA https://support.google.com/accounts/answer/185833
FRONVO_EMAIL_PASSWORD={str, Required}
