# Node
node_modules/
package-lock.json
package.json

# DotEnv
.env

# PM2
*.cpuprofile
*.heapprofile

# Fronvo
logs.txt
generated/*

# Local work
testing/

# TypeScript Output
output/

# CircleCI
.circleci/

# Github
.github/
