# Node
node_modules/
package-lock.json
package.json

# DotEnv
.env

# Fronvo
logs.txt
generated/*

# Local work
testing/

# TypeScript Output
output/

# CircleCI
.circleci/

# Github
.github/assets

# PNPM
pnpm-lock.yaml
